body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;

}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    margin: 0 10px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover{
    background-color: #555;
}

h1{
    text-align: center;
    margin-top: 20px;
}

section{
    padding: 20px;
}

h2{
    margin-top: 0;
    color: rgb(255, 0, 0);
}

ol{
    list-style: decimal;
    padding-left: 20px;
}

li{
    margin-bottom: 10px;
}

a{
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
#Basico {
    background: rgba(255, 165, 62, 0.774);
    padding: auto;
    margin: auto;
    border: 2px solid black;
}

.container{
    width: auto;
    height: 100px; 
    background-color : rgba(201, 164, 109, 0.836);
    border: #000000;    
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    background-origin: padding-box;
    margin: 10px;
    padding: 10px;
}
.container li{
    margin: 10px;
}
#Intermedio{
    background: rgb(30, 233, 189);
    padding: auto;
    margin: auto;
    border:2px dashed black ;    
}

.containerint{
    width: auto;    
    height: 100px;
    background-color: cadetblue;
    border: #000000;   
    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
    background-origin: padding-box; 
    margin: 10px;
    padding: 10px;
}
.containerint li{
    margin: 10px;
}
#Avanzado{
    background: rgb(104, 6, 233);
    padding: auto;
    margin: auto;
    border: 2px double re ;
}

.containeradv{
    width: auto;
    height: 100px;
    background-color: rgba(18, 148, 223, 0.801);
    border: #000000;
    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
    background-origin: padding-box;    
    margin: 10px;
    padding: 10px;
}
.containeradv li{
    margin: 10px;
}



button{
    width: 90px;
    height: auto;
    padding: 10px;
    color: white;
    background-color: #000000;
    border: currentColor;
    cursor: pointer; 
    border: 1px solid black;
    box-shadow:rgb(51, 46, 46) 5px 3px 8px ;
    
}
button :hover{
    background-color: aqua;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
