*{
    padding: 5px;      
    background-color: whitesmoke;
 }

 h1{
    color: rgb(218, 13, 13);
 }
 p{
    text-align: justify;
 }

 .Header{    
   background-color:red;
   color: black; /* Text color for contrast */
   position: fixed; /* Make the header stay at the top */
   height: 80px;
   padding: 10px 20px;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100; /* Ensure the header is on top of other elements */
   display: flex;
   justify-content: space-between; /* Align navigation and logos */
   align-items: center; 
 }
 .Header nav{
     text-align: right;
 }
 .Header a{
   display: inline-block;
   padding: 10px 25px;
   text-decoration: none;
   color:black !important;
   font-weight: bold;
}
img {
   display: block; 
   margin: 0 auto;
   width: 300px; 
 }
 .hightligth{
   padding: auto;
   margin-top: 25px;
   text-align: center;
   
 }
 h2{
   padding: auto;
   margin-top: 25px;
   text-align: center;
   font-size: 50px;
 }
 